@{ ViewData["Title"] = "Receita.NET"; }

@model List<Receita>;

<h3>Catálogo</h3>

<div id="my-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @{ const int TAMANHO_PAGINA = 4;

            int paginas = (int)Math.Ceiling((double)Model.Count() / TAMANHO_PAGINA); }

        @for (int pagina = 0; pagina < paginas; pagina++)
        {

<div class="item @(pagina == 0 ? "active" : "")">
    <div class="row">
        @{ var receitasDaPagina = Model.Skip(pagina * TAMANHO_PAGINA).Take(TAMANHO_PAGINA); }
        @foreach (var item in receitasDaPagina)
        {

<div class="col-md-3 col-sm-3 col-lg-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <img class="img-produto-carrossel" src="/images/produtos/large_@(item.Codigo).jpg" />
        </div>
        <div class="panel-footer produto-footer">
            <div class="produto-nome">@item.Titulo</div>
            <div><h4><strong>@item.Categoria</strong></h4></div>
            <div class="text-center">
                <a asp-controller="receita"
                   asp-action="novareceita" 
                   asp-route-receitaId="@item.ReceitaId"
                   class="btn btn-success">Consultar</a>
            </div>
        </div>
    </div>
</div>}

    </div>


</div>}


    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="text-center">
    <a asp-controller="receita"
       asp-action="novareceita" 
       class="btn btn-success">Nova</a>
</div>
